includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    tmpDir: var/phpstan

    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
        reportUnknownTypes: true

    symfony:
        container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml
        console_application_loader: build/phpstan/console-bootstrap.php

    ignoreErrors:
        - '#PHPDoc tag @var with type .+ is not subtype of native type .+#'
