{% extends 'base.html.twig' %}

{% set section_title = 'app.contact.delete.title' | trans({'name': contact.name}) %}

{% block body %}

    <div class="container">
        <h2 class="mb-4">{{ 'app.contact.delete.confirmationTitle' | trans({'%name%': contact.name}) }}</h2>

        {{ form(form) }}
    </div>

{% endblock %}
