{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mx-lg-5">{{ 'app.title' | trans }}</h1>
    <hr class="my-4" />

    <div class="container">
        {% if contacts|length == 0 %}
            <p class="lead">{{ 'app.contact.list.empty' | trans }}</p>
        {% else %}
            <div class="list-wrapper">
                {% include 'contact/_list-table.html.twig' with {'contacts': contacts} only %}
            </div>
        {% endif %}
    </div>

{% endblock %}
