{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% set section_title = pageNumber > 1 ? 'app.contact.list.title' | trans({'%page%': pageNumber}) : '' %}

{% block body %}

    <div class="container" {{ react_component('contact-list', { pageNumber: pageNumber }) }}></div>

{% endblock %}
